#app{
    background-image: linear-gradient(#429488, #DADBD5);
    height: 100vh;
    }

.sidebar{
    background-color: #FFFFFF;
    height: 687px;
}

.bg{
    background-color: crimson;
}

.user-options{
    height: 40px;
    background-color: darkgreen;
}

#user{
    display: flex;
    height: 90px;
    background-color: #EAEAEA;
    justify-content: space-between;
    align-items: center;
    border-right: grey 1px solid;
}
.circle-img{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    border: black 1px solid;
    margin-right: 10px;
}

.user-name{
    display: flex;
    align-items: center;
}

.notification{
    display: flex;
    align-items: center;
    background-color: #9FD8F8;
    width: 100%;
    height:100px;
}

.container-bell{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    margin-right: 5px;
    background-color: #f4fbfe;
    text-align: center;
}

.container-bell i{
    font-size:28px;
    color: #9FD8F8;
    opacity: 0.5;
    position:relative;
    top: calc(50% - 15px);
}

#small-txt{
    border-bottom: grey 2px solid;
}

.search-bar{
    background-color: #fafafa;
    height: 50px;
}

.input-container{
    width: 100%;
    height: 35px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    border-color: grey 5px solid;
}

.search-user{
    width: 100%;
    border: none;
    outline: none;
}

.input-container i{
    font-size: 18px;
    margin-right: 28px;
    color: grey;
}

.users-list{
    height: 100%;

}

.user-contact{
    height:90px;
    width: 100%;
    padding: 8px;
    background-color: #FFFFFF;
    border: grey 1px solid;
    display: flex;
    justify-content: flex-start;

}

.user-contact img{
    width: 65px;
    height: 65px;
    border-radius: 50px;
    margin-right: 16px ;
}

.central-column{
    background-color: rosybrown;
    height: 600px;
}

.actual-user-img{
    height: 60px;
    width: 60px;
    border-radius: 50px;
    border: black 1px solid;
    margin-right: 10px;
}

#actual-contact{
    display: flex;
    height: 90px;
    background-color: #EAEAEA;
    align-items: center;
    border-right: grey 1px solid;
    justify-content: space-between;
}

.user-container{
    display: flex;
    align-items: center;
}

.messages-area{
    width: 100%;
    height: 510px;
    background-image: url(../img/mine.jpg);
}

footer{
    height: 87px;
    background-color: #F2EEEA;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.input-user{
    width: 80%;
    justify-content: center;
}

.input-user input{
    width: 100%;
}

footer i{
    color: #6C7376;
    font-size: 35px;
    margin-left: 10px;
    margin-right: 10px;
}







